/*reset*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*vars*/
:root{
    --scroll-margin-top: 70px;

    --body-backcolor: antiquewhite;
    --header-backcolor: cornflowerblue;
    --footer-backcolor: lightgreen;
    --main-box-backcolor: ghostwhite;
    --small-box-color: aquamarine;
}
/*base*/
html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100svh;

    background-color: var(--body-backcolor);

    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

section{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

header{
    height: var(--scroll-margin-top);

    background-color: var(--header-backcolor)
}

main{
    flex-grow: 1;
}

footer{
    height: 100px;
    flex-shrink: 0;

    background-color: var(--footer-backcolor);
}

#s1{
    scroll-margin-top: var(--scroll-margin-top);
}
/*clases*/

.navigation{
    height: var(--scroll-margin-top);
}

.flex{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.wrap{
    flex-wrap: wrap;
}

.space-b{
    justify-content: space-between;
}

.main-box{
    width: 80%;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;

    border-radius: 10px;

    background-color: var(--main-box-backcolor)
}

.small-box{
    width: 300px;
    height: 300px;

    border-radius: 10px;

    background-color: var(--small-box-color);
}

footer section{
    height: 100%;
}

